footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.logo {
    color: #ecedef;
    border-color:#ecedef;
    padding-right: 50px;
}

a {
    text-decoration: none;
    color:#ecedef!important;
}